html{
 max-width: 1920px;
 font-size: 100%;
 font-family: 'OpenSans', sans-serif; 
}

body{
 display: block;
 max-width: 1920px;
 margin: 0 auto;
}

a {
 text-decoration: none;
}

.wrapper-head{
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../img/football_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.wrapper-head:before {
 content: "";
 width: 100%;
 height: 100%;
 background-color: rgba(10, 14, 52, 0.8);
 position: absolute;
 top: 0;
 left: 0;
}

.header {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 z-index: 2;
}

.header a, .footer a{
 color: #ffffff;
}

header .logo{
 max-width: 190px;
 max-height: 55px;
 margin-top: 30px;
 margin-bottom: 247px;
}

.header h1{
 font-family: Open Sans;
 color: #ffffff;
 font-size: 90px;
 font-weight: 700;
/* padding: 0 130px;*/
 line-height: 3px;
 letter-spacing: 4.2px;
}

.header-txt{
 display: flex;
 flex-direction: column;
 width: 100%;
 padding-bottom: 180px;
}

.left{
 align-self: flex-start;
 margin-left: 190px;
 /*margin-bottom: -90px;*/
}

.right{
 align-self: flex-end;
 margin-right: 195px;
 margin-top: 15px;
}

.app{
 display: flex;
 justify-content: center;
 width: 100%;
 font-family: Open Sans;
 color: #ffffff;
 font-size: 14px;
 font-weight: 400;
 line-height: 5px; 
 margin-bottom: 110px;
 letter-spacing: 0.7px;
}


.apple{
 background: #5e42b0;
 border-radius: 50px;
 width: 16%;
 height: 80px;
 margin: 0 30px;
}

.apple a{
 display: flex;
 justify-content: flex-start;
 padding-top: 17px;
 padding-left: 30px;
}

.apple-logo{
 width: 50px;
 height: 50px;
}
.google-logo{
 width: 45px;
 height: 50px;
 padding-left: 15px;
}
.apple-txt{
 padding-left: 20px;
}
.google-txt{
 padding-left: 25px;
}
.google{
 background: #5e42b0;
 border-radius: 50px;
 width: 16%;
 height: 80px;
 margin: 0 30px;
}

.google a{
 display: flex;
 justify-content: flex-start;
 padding-top: 17px;
 padding-left: 30px;
}

.app-txt{
 font-family: Open Sans;
 color: #ffffff;
 font-size: 14px; 
 font-weight: 700;
 letter-spacing: 0.7px;
}

/*.center-up{
 display: flex;
}*/

/*.center-up-01{
 display: flex;
 justify-content: flex-end;
}*/

 /*.athlets{
 background: url("img/footballer_desktop.png");
 background-repeat: no-repeat;
 background-size: contain;
}*/

/*.athlets {
 counter-reset: h2;
}

.athlets h2:before {
 content: "0"counter(h2)" ";
 counter-increment: h2;
 font-size: 18px; 
 color: #000000;
 background: url("img/line-b.png");
 background-repeat: no-repeat;
}*/

/* блок center-up-01-athlets*/

.athlets div{
 padding-right: 20px;
 margin-top: -5px;
 box-sizing: border-box;
}
.athlets1 h2{
 padding-top: 10px;
}

.athlets1 p{
 margin-top: -20px;
}
.center-up-001 h1{
 font-family: Open Sans;
 color: #e7e7e7;
 font-size: 80px; 
 font-weight: 700;
}

.center-up-01{
 position: relative;
}

.footballer{
 position: absolute;
 left: 330px;
 top: 0;
 max-width: 100%;
}

.football{
 max-width: 50%;
 /*max-height: 100%;*/
}

.center-up-01 h2{
 font-family: Open Sans;
 color: #c1c1c1;
 font-size: 36px;
 font-weight: 700;
 letter-spacing: 1.8px;
 margin-top: 23px;
}

.center-up-001 p, .center-up-002 p{
 font-family: Open Sans;
 /*color: rgba(0, 0, 0, 0);*/
 font-size: 20px; 
 font-weight: 400;
 letter-spacing: 1px;
}

.center-up-002 p{
 margin-top: -16px;
}

.center-up-003 p{
 font-family: Open Sans;
 color: #ffffff;
 font-size: 20px; 
 font-weight: 400;
 margin-top: -17px;
 letter-spacing: 1px;
/*line-height: 28px; 
text-align: left;*/
}

.center-up-003 h2{
 padding-top: 3px;
}

.center-up-001, .center-up-002, .center-up-003{
 display: flex;
 box-sizing: border-box;
 padding-bottom: 36px;
}

.center-up-001 div:last-child, .center-up-002 div:last-child, .center-up-003 div:last-child{
 padding-right: 190px;
 }

.center-up-001 div, .center-up-002 div, .center-up-003 div{
 width: 50%;
 z-index: 1;
 padding-left: 57px;
 padding-top: 30px;
}

.center-up-002{
 background-color: rgba(94, 66, 176, 0.06);
}

.center-up-003{
 background-color: #5e42b0;
}

/* блок center-up-02-Players*/

.players div{
 /*padding-left: 30px;*/
 box-sizing: border-box;
 margin-top: 10px;
 padding-left: 96px;
}

.center-up-0001 h1{
 font-family: Open Sans;
 color: #e7e7e7;
 font-size: 80px; 
 font-weight: 700;
 margin-left: -6px;
}

.center-up-0001 h2{
 padding-top: 8px;
}

.center-up-0001 p{
 margin-top: -15px;
}

/*.center-up-02{
 position: relative;
}*/

.players{
 position: relative;
}

.basketballer{
 position: absolute;
 right: 125px;
 top: 5px;
 max-width: 100%;
}

.basketball{
 max-width: 100%;
 /*max-height: 100%;*/
}

.center-up-02 h2{
 font-family: Open Sans;
 color: #c1c1c1;
 font-size: 36px;
 font-weight: 700;
 letter-spacing: 1.8px;
}

.center-up-0001 p, .center-up-0002 p{
 font-family: Open Sans;
 /*color: rgba(0, 0, 0, 0);*/
 font-size: 20px; 
 font-weight: 400;
 letter-spacing: 1px;
}

.center-up-0002 p{
 margin-top: -4px;
}

.center-up-0003 p{
 font-family: Open Sans;
 color: #ffffff;
 font-size: 20px; 
 font-weight: 400;
 margin-top: -16px;
 letter-spacing: 0.7px;
}

.center-up-0001, .center-up-0002, .center-up-0003{
 display: flex;
 box-sizing: border-box;
 padding-bottom: 26px;
}

.center-up-0001 div, .center-up-0002 div, .center-up-0003 div{
 flex-basis: 50%;
 z-index: 1;
 box-sizing: border-box;
}

.center-up-0001 div:first-child, .center-up-0002 div:first-child, .center-up-0003 div:first-child{
 padding-right: 150px;
}

.center-up-0002{
 background-color: #f5f6f7;
 padding-bottom: 20px;
}

.center-up-0003{
 background-color: #0a0e34;
 padding-bottom: 33px;
}

.center-up-0003 h2{
 padding-top: 11px;
}

/* блок center-down-01*/

.center-down-01{
 display: flex;
 flex-wrap: wrap;
 box-sizing: border-box;
/* position: relative;*/
}

.center-down-001, .center-down-0001, .center-down-00001{
 position: relative;
}

.center-down-001, .center-down-002{
 width: 50%;
 box-sizing: border-box;
}

/*.number{
 background-color: #5e42b0;
 width: 168px;
 height: 155px;
 margin: auto;
}*/

.number1, .number3{
 position: absolute;
 background-color: #5e42b0;
 width: 168px;
 height: 155px;
 right: -84px;
 top: calc(40% - 168px/2);
 display: flex;
}

.number2{
 position: absolute;
 background-color: #5e42b0;
 width: 168px;
 height: 155px;
 left: -84px;
 top: calc(40% - 168px/2);
 display: flex;
}

/*.number3{
 position: absolute;
 background-color: #5e42b0;
 width: 168px;
 height: 155px;
 right: -84px;
 top: calc(50% - 168px/2);
 display: flex;
}*/
.num{
 margin: auto;
}

.be-active{
 max-width: 100%;
}

/*.center-down-001{
 background: url("../img/be-active_960.jpg");
 background-repeat: no-repeat;
 background-size: cover; 
 max-height: 100vh;
}*/

.center-down h2{
 font-family: Open Sans;
 color: #c1c1c1;
 font-size: 80px; 
 font-weight: 700;
}

.center-down p{
 font-family: Open Sans;
 font-size: 24px; 
 font-weight: 400; 
 letter-spacing: 1.2px;
}

.center-down-01 h2, .center-down-01 p{
 padding-left: 126px; 
}

.center-down-002, .center-down-0002, .center-down-00002{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.center-down-002 h2{
 margin-top: 25px;
}

.center-down-002 p{
 margin-top: 20px;
 padding-right: 200px;
}

/* блок center-down-02*/

.center-down-02{
 display: flex;
 flex-wrap: wrap;
 position: relative;
 box-sizing: border-box;
}

.center-down-0001, .center-down-0002{
 width: 50%;
 box-sizing: border-box;
}

/*.center-down-0001{
 background: url("../img/find-contact_960.jpg");
 background-repeat: no-repeat;
 background-size: cover; 
 height: 100vh;
}
*/
.center-down-02 h2, .center-down-02 p{
 padding-right: 120px; 
 padding-left: 186px;
}

.center-down-02 h2{
 margin-top: 20px;
}

.center-down-02 p{
 margin-top: 20px;
}

/* блок center-down-03*/

.center-down-03{
 display: flex;
 flex-wrap: wrap;
 position: relative;
 box-sizing: border-box;
}

.center-down-00001, .center-down-00002{
 width: 50%;
}

/*.center-down-00001{
 background: url("../img/work-it_960.jpg");
 background-repeat: no-repeat;
 background-size: cover; 
 height: 100vh;
}*/

.center-down-03 h2, .center-down-03 p{
 padding-left: 125px; 
}

.center-down-03 h2{
 margin-top: 30px;
}

.center-down-03 p{
 margin-top: 10px;
 padding-right: 180px;
}
/* подвал*/

.wrapper-foot{
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../img/game_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.wrapper-foot:before {
 content: "";
 width: 100%;
 height: 100%;
 background-color: rgba(10, 14, 52, 0.8);
 position: absolute;
 top: 0;
 left: 0;
}

.footer {
 display: flex;
 flex-direction: column;
 align-items: center;
 z-index: 2;
 width: 100%;
}

.foot-logo{
 background: #5e42b0;
 width: 130px;
 height: 145px;
 border-radius: 20px;
 display: flex;
 /*padding: 10px 30px;*/
}

.foot-up{
 display: flex;
 justify-content: center;
 padding-top: 210px;
 margin-left: 30px;
 width: 100%;
}

.foot-logo{
 display: flex;
}

.foot-logo1{
 width: 105px;
 height: 90px;
 margin: auto;
}

/*.foot-app{
 display: flex;
 flex-direction: column;
}*/

.foot-app h1{
 font-family: Open Sans;
 color: #ffffff;
 font-size: 80px;
 font-weight: 700;
 margin: 0 20px;
 letter-spacing: 5.1px;
}

.foot-app p{
 font-family: Open Sans;
 color: #a496cb;
 font-size: 30px;
 font-weight: 400;
 margin-top: -10px;
 padding-left: 32px;

}

.footer .app{
 padding-top: 120px;
 padding-bottom: 152px;
 letter-spacing: 0.7px;
}

footer .logo{
 width: 190px;
 height: 55px;
 padding-bottom: 50px;
}

/* медиа*/

@media (min-width: 1921px) {
 body {
 font-size: 100%;
 }
 .header h1{
  font-size: 90px;
 }
 .center-up h1{
  font-size: 80px;
 }
 .center-down h2{
  font-size: 80px;
 }
 .foot-app h1{
 font-size: 80px;
 } 
}

@media (min-width: 961px) and (max-width: 1920px) {
 
 .header h1{
  font-size: 4.8vw;
 }
 header .logo {
  margin-bottom: 12.9vw;
 }
 .app{
  margin-bottom: 5.7vw;
 }
 .left {
  margin-left: 10vw;
 }
 .right  {
  margin-right: 10vw;
 }
 .footballer {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
 }
 .center-up-001 div:last-child, .center-up-002 div:last-child, .center-up-003 div:last-child {
  padding-right: 10vw;
 }
 .center-up-001 div, .center-up-002 div, .center-up-003 div {
  padding-left: 3vw;
  padding-top: 1.6vw;
 }
 .players div {
  padding-left: 5vw;
 }
 .center-up-0001 div:first-child, .center-up-0002 div:first-child, .center-up-0003 div:first-child {
  padding-right: 7.8vw;
 }
 .basketballer {
  position: absolute;
  right: -10px;
  top: 5px;
  max-width: 100%;
 }
 .center-down h2 {
  font-size: 4.9vw;
 }
 .center-down-002 p {
  padding-right: 10.4vw;
 }
 .center-down-01 h2, .center-down-01 p {
  padding-left: 6.6vw;
 }
 .center-down-02 h2, .center-down-02 p {
  padding-right: 6.3vw;
  padding-left: 9.7vw;
 }
 .center-down-03 p {
  padding-right: 9.4vw;
 }
 .center-down-03 h2, .center-down-03 p {
  padding-left: 6.5vw;
 }
 .foot-app h1{
 font-size: 5vw;
 }
 .footer .app {
  padding-top: 6.2vw;
  padding-bottom: 7.9vw;
 }
 .apple, .google{
  min-width: 27%;
 }
 .wrapper-foot{
  background: url("../img/game_1280.jpg");
 }
 .wrapper-head{
  background: url("../img/football_1920.jpg");
 }
}

@media (min-width: 641px) and (max-width: 960px) {
 .wrapper-head{
  background: url("../img/football_767.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 }
 .wrapper-foot{
  background: url("../img/game_767.jpg");
 }
 header .logo{
  max-width: 205px;
  max-height: 56px;
  margin-bottom: 149px;
 }
 .header h1{
  font-size: 8.3vw;
  letter-spacing: 3.4px;
  line-height: normal;
 }
 .app{
  margin-top: 50px;
  margin-bottom: 90px;
 }
 .apple, .google{
  width: 40%;
 }
 .apple{
  margin: 0 10px;
 }
 .google{
  margin: 0 20px;
 }
 .apple-logo {
  width: 50px;
  height: 45px;
 }
 .google-logo {
  padding-left: 28px;
}
 .apple-txt {
  padding-left: 25px;
 }
 .google-txt {
  padding-left: 28px;
 }
 .left{
  margin-left: 85px;
  margin-top: 10px;
 }
 .right {
  margin-left: 190px;
  margin-top: -63px;
  margin-right: auto;
 }
 .center-up-01 h2, .center-up-02 h2{
  font-size: 32px;
 }
 .center-up-01 p, .center-up-02 p{
  font-size: 16px; 
  padding-top: 12px;
  letter-spacing: 0.8px;
  line-height: 27px;
 }
 .center-up-01 h1{
  margin-bottom: -3px;
 }
 .center-up-002 p {
  margin-top: -22px;
 }
 .center-up-002 {
  padding-bottom: 25px;
 }
 .center-up-003 {
  padding-top: 10px;
  padding-bottom: 18px;
 }
 .center-up-003 p {
  padding-top: 10px;
  margin-top: -23px;
 }
.center-up-001 div:first-child, .center-up-002 div:first-child, .center-up-003 div:first-child{
  width: 30%;
 }
 .center-up-001 div:last-child, .center-up-002 div:last-child, .center-up-003 div:last-child{
  width: 70%;
  padding-top: 0;
  padding-right: 13px;
  padding-left: 66px;
 }
 .footballer{
  left: -220px;
  top: 80px;
 }
 .football{
  max-width: 50%;
 }
 .players div {
  margin-top: -4px;
  padding-left: 16px;
 }
 .center-up-0001 h1 {
  margin-bottom: -5px;
 }
 .center-up-0001 h2 {
  margin-bottom: 21px;
 }
 .center-up-0001 div:first-child, .center-up-0002 div:first-child, .center-up-0003 div:first-child{
  flex-basis: 70%;
  padding-top: 0;
  padding-right: 100px;
 }
 .center-up-0001 div:last-child, .center-up-0002 div:last-child, .center-up-0003 div:last-child{
  flex-basis: 30%;
 }
 .center-up-0002 {
  padding-bottom: 20px;
  padding-top: 8px;
 }
 .center-up-0002 p {
  margin-top: -23px;
 }
 .players .center-up-0003 p {
  letter-spacing: 1.8px;
  margin-top: -19px;
 }
 .center-up-0003 {
  padding-bottom: 18px;
 }
 .basketballer{
  right: 0;
  top: 50px;
  max-width: 100%;
 }
 .center-down-001, .center-down-002{
  width: 100%;
 }
 .center-down-0001, .center-down-0002{
  width: 100%;
 }
 .center-down-0001{
  order: -1;
 }
 .center-down-00001, .center-down-00002{
  width: 100%;
 }
 .center-down-002 h2 {
  padding-top: 33px;
  margin-bottom: -12px;
 }
 .center-down h2{
  font-size: 80px;
 }
 .center-down p{
  font-size: 24px;
  padding-right: 50px;
  line-height: 29px;
 }
 .center-down-002{
  padding-bottom: 75px;	
 }  
 .center-down-02 h2 {
  margin-top: 50px;
  margin-bottom: -16px;
 }
 .center-down-02 p {
  margin-top: 25px;
  padding-bottom: 80px;
}
 .center-down-03 h2 {
  margin-top: 50px;
 }
 .center-down-03 p {
  margin-top: -57px;
 }
 .center-down-03 {
  padding-bottom: 86px;
 }
 .center-down h2, .center-down p{
  padding-left: 30px; 
 }
 .number1, .number2, .number3{
 width: 115px;
 height: 115px;
 left: 30px;
 bottom: -30px;
 top: initial;
 }
 .foot-logo {
  width: 130px;
  height: 137px;
  margin-bottom: 55px;
 }

 .foot-up{
  flex-direction: column;
  align-items: center;
  padding-top: 127px;
  margin-left: auto;
  margin-bottom: 70px;
 }
 .foot-app{
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
 }
 .foot-app h1{
 font-size: 10.3vw;
 }
 footer .google a {
  padding-left: 55px;
 }
.foot-app p{
 font-size: 36px;
 padding-left: 60px;
 }
 .foot-logo1{
 width: 104px;
 height: 86px;
 }
 footer .logo{
 width: 205px;
 height: 56px;
 padding-bottom: 20px;
 margin-top: -35px;
 }
 .footer .app {
  padding-bottom: 0;
 }
}

@media (max-width: 640px){
 .wrapper-head{
  background: url("../img/football_767.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }
 .wrapper-foot{
  background: url("../img/game_767.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }
 header .logo{
  max-width: 130px;
  max-height: 35px;
  margin-bottom: 105px;
 }
 .header h1{
  font-size: 28px;
  padding: 0 10px;
  letter-spacing: 1.5px;
  line-height: normal;
 }
 .header-txt {
  padding-bottom: 42px;
 }
 .left{
  margin-left: 6px;
 }
 .right {
  margin-left: 52px;
  margin-top: -11px;
  margin-right: auto;
 }
 .app{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
  letter-spacing: 1px;
  margin-bottom: 75px;
 }
 .app-txt{
  font-size: 8px;
 }
 .apple, .google{
  width: 80%;
  padding: 0 15px;
  margin: 8px 0;
  height: 35px;
}
 footer .app p{
  font-size: 8px;
 }
 footer .app-txt{
  font-size: 8px;
 }
 .apple a, .google a{
  display: flex;
  justify-content: center;
 }
 .apple a{
  padding-top: 3px;
  padding-left: 0px;
 }
 .google a {
  padding-top: 0;
  padding-left: 0;
 }
 .apple-logo{
  width: 30px;
  height: 26px;
  padding-left: 10px;
  padding-top: 2px;
  margin-left: -8px;
 }
 .google-logo {
  width: 25px;
  height: 25px;
  padding-left: 10px;
  padding-top: 4px;
  margin-left: -32px;
 }
 .apple-txt {
  padding-right: 3px;
  padding-left: 6px;
 }
 .google-txt {
  padding-right: 3px;
  padding-left: 6px;
 }
 .athlets, .players{
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
 }
 .athlets div{
  max-width: 100%;
  margin-top: -37px;
  padding-right: 10px;
 }
 .athlets1 p {
  margin-top: 0;
 }
 .footballer {
  left: -35px;
  top: -30px;
 } 
 .basketballer {
  right: 25px;
  top: -15px;
 }
 .footballer, .basketballer{
  position: relative;
  margin: auto;
  flex-basis: 100%;
 }
 .basketball {
  max-width: 120%;
 }
 .center-up-001 h2{
  margin-top: -24px;
 }
 .center-up-001 p{
  margin-top: -6px;
 }
 .center-up-002 p{
  margin-top: -2px;
  line-height: 18px;
 }
 .center-up-003 p{
  padding-top: 16px;
  line-height: 18px;
 }
 .center-up-001 div:first-child, .center-up-002 div:first-child, .center-up-003 div:first-child{
  display: none;
 }
 .center-up-001 div:last-child, .center-up-002 div:last-child, .center-up-003 div:last-child{
  width: 100%;
  padding-right: 10px;
 }
 .center-up-001 div, .center-up-002 div, .center-up-003 div {
  padding-left: 20px;
  padding-top: 30px;
 }
 .center-up-001, .center-up-002, .center-up-003 {
  padding-bottom: 39px;
 }
 .center-up-0001 div, .center-up-0002 div, .center-up-0003 div {
  flex-basis: inherit;
 }
 .center-up-0001 h2 {
  padding-top: 12px;
 }
 .center-up-0001 p {
  margin-top: -3px;
  line-height: 18px;
 }
 .center-up-0001 {
  padding-bottom: 55px;
 }
 .center-up-0002 {
  padding-bottom: 59px;
 }
 .center-up-0002 h2 {
  padding-top: 54px;
 }
 .center-up-0002 p {
  padding-top: 2px;
  line-height: 18px;
 }
 .center-up-0003 h2 {
  padding-top: 50px;
 }
 .center-up-0003 p {
  padding-top: 12px;
  line-height: 18px;
 }
 .center-up-0003 {
  padding-bottom: 40px;
 }
 .center-up-002 {
  padding-bottom: 58px;
 }
 .center-up-002 {
  padding-bottom: 75px;
 }
 .center-up-003 h2 {
  padding-top: 36px;
 }
 .center-up-001{
  padding-top: 10px;
  padding-bottom: 106px;
 }
 .center-up h1{
  font-size: 50px;
 }
 .center-up h2{
  font-size: 23px;
  letter-spacing: 1.3px;
 }
 .center-up p{
  font-size: 15px;
  letter-spacing: 0.7px;
 } 
 .count00{
  width: 14px;
  height: 18px;
 }
 .center-up-0001 div:first-child, .center-up-0002 div:first-child, .center-up-0003 div:first-child{
  width: 100%;
  padding-right: 0;
 }
 .center-up-0001 div:last-child, .center-up-0002 div:last-child, .center-up-0003 div:last-child{
  display: none;
 }
 .players div{
  max-width: 100%;
  margin-top: -19px;
  padding-right: 10px;
  padding-left: 10px;
 }
  .center-down-001, .center-down-002{
  width: 100%;
 }
 .center-down-0001, .center-down-0002{
  width: 100%;
 }
 .center-down-0001{
  order: -1;
 }
 .center-down-002 h2 {
  margin-top: 19px;
 }
 .center-down-00001, .center-down-00002{
  width: 100%;
 }
 .center-down p{
  font-size: 24px;
 }
 .center-down h2, .center-down p{
  padding-left: 17px; 
  padding-right: 20px;
 }
 .center-down-002 p {
  margin-top: -13px;
  letter-spacing: 0.9px;
  line-height: 20px;
 }
 .center-down-002, .center-down-0002 {
  padding-bottom: 63px;
 }
 .center-down-02 p {
  margin-top: -10px;
  letter-spacing: 0.9px;
  line-height: 20px;
 }
 .center-down-03 h2 {
  margin-top: 23px;
 }
 .center-down-03 p {
  margin-top: -14px;
  letter-spacing: 0.9px;
  line-height: 20px;
 }
 .center-down-03 {
  padding-bottom: 53px;
 }
 .number1, .number2, .number3{
 width: 70px;
 height: 70px;
 left: 20px;
 bottom: -13px;
 top: initial;
 }
 .center-down h2{
  font-size: 28px;
  letter-spacing: 1.1px;
 }
 .center-down p{
  font-size: 16px;
 }
 .foot-logo{
  width: 70px;
  height: 75px;
 }
  .foot-logo1{
  width: 55px;
  height: 45px;
 }
 .foot-up{
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin-left: 0;
 }
 .foot-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
 }
 .foot-app p{
  letter-spacing: 0.8px;
 }
 .footer h1{
  font-size: 32px;
  letter-spacing: 1.2px;
  margin: auto;
 }
 .footer p{
  font-size: 14px;
  margin-top: 0;
  padding-left: 0;
 }
 .footer .app {
  padding-top: 48px;
  padding-bottom: 0;
 }
 .footer .app p {
  letter-spacing: 1px;
 }
 .footer .apple-txt{
  padding-top: 7px;
 }
 .footer .google-txt{
  padding-top: 7px;
  padding-right: 30px;
 }
 
 footer .logo {
  width: 135px;
  height: 35px;
  padding-bottom: 50px;
 }
}