html{
 max-width: 1920px;
 font-size: 100%;
 font-family: 'OpenSans', sans-serif; 
}

.header {
  background-image: url("img/header-backgr.jpg");
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo{
 width: 190px;
 height: 55px;
 margin-top: 30px;
}

.header h1{
 font-family: Open Sans;
 color: #ffffff;
 font-size: 4.2vw;
 font-weight: 700;
 padding: 0 130px;
 /*line-height: 34.489px; */
}

.left{
 align-self: flex-start;
 margin-bottom: -90px;
}

.right{
 align-self: flex-end;
}

.app{
 display: flex;
 font-family: Open Sans;
 color: #ffffff;
 font-size: 14px;
 font-weight: 400;
 line-height: 5px; 
 margin: 100px 0;
}

.app div{
margin: 0 15px;
}

.apple{
 background: #5e42b0;
 width: 311px;
 /*height: 77px;*/
 border-radius: 50px;
 display: flex;
 padding: 10px 30px;
}

.apple-logo{
 width: 50px;
 height: 50px;
}

.google{
 background: #5e42b0;
 width: 311px;
 /*height: 77px;*/
 border-radius: 50px;
 display: flex;
 padding: 10px 30px;
}

.app-txt{
 font-family: Open Sans;
 color: #ffffff;
 font-size: 14px; 
 font-weight: 700;
}

/*.center-up{
 display: flex;
}*/

/*.center-up-01{
 display: flex;
 justify-content: flex-end;
}*/

 /*.athlets{
 background: url("img/footballer_desktop.png");
 background-repeat: no-repeat;
 background-size: contain;
}*/

/*.athlets {
 counter-reset: h2;
}

.athlets h2:before {
 content: "0"counter(h2)" ";
 counter-increment: h2;
 font-size: 18px; 
 color: #000000;
 background: url("img/line-b.png");
 background-repeat: no-repeat;
}*/

/* блок center-up-01-athlets*/

.athlets div{
 padding-right: 20px;
}

.center-up-001 h1{
 font-family: Open Sans;
 color: #e7e7e7;
 font-size: 80px; 
 font-weight: 700;
}

.center-up-01{
 position: relative;
}

.footballer{
 position: absolute;
 left: 0;
 top: 20px;
 width: 60%;
}

.football{
 max-width: 80%;
 /*max-height: 100%;*/
}

.center-up-01 h2{
 font-family: Open Sans;
 color: #c1c1c1;
 font-size: 36px;
 font-weight: 700;
}

.center-up-001 p, .center-up-002 p{
 font-family: Open Sans;
 /*color: rgba(0, 0, 0, 0);*/
 font-size: 20px; 
 font-weight: 400;
}

.center-up-003 p{
font-family: Open Sans;
color: #ffffff;
font-size: 20px; 
font-weight: 400;
/*line-height: 28px; 
text-align: left;*/
}

.center-up-001, .center-up-002, .center-up-003{
 display: flex;
}

.center-up-001 div, .center-up-002 div, .center-up-003 div{
 width: 50%;
}

.center-up-002{
 background-color: rgba(94, 66, 176, 0.06);
}

.center-up-003{
 background-color: #5e42b0;
}

/* блок center-up-02-Players*/

.players div{
 padding-left: 30px;
}

.center-up-0001 h1{
 font-family: Open Sans;
 color: #e7e7e7;
 font-size: 80px; 
 font-weight: 700;
}


.center-up-02{
 position: relative;
}

.basketballer{
 position: absolute;
 right: 0;
 top: 10px;
 width: 70%;
}

.basketball{
 max-width: 100%;
 /*max-height: 100%;*/
}

.center-up-02 h2{
 font-family: Open Sans;
 color: #c1c1c1;
 font-size: 36px;
 font-weight: 700;
}

.center-up-0001 p, .center-up-0002 p{
 font-family: Open Sans;
 /*color: rgba(0, 0, 0, 0);*/
 font-size: 20px; 
 font-weight: 400;
}

.center-up-0003 p{
font-family: Open Sans;
color: #ffffff;
font-size: 20px; 
font-weight: 400;
}

.center-up-0001, .center-up-0002, .center-up-0003{
 display: flex;
}

.center-up-0001 div, .center-up-0002 div, .center-up-0003 div{
 width: 50%;
}

.center-up-0002{
 background-color: #f5f6f7;
}

.center-up-0003{
 background-color: #0a0e34;
}

/* блок center-down-01*/

.center-down-01{
 display: flex;
 position: relative;
}

.center-down-001, .center-down-002{
 width: 50%;
}

/*.number{
 background-color: #5e42b0;
 width: 168px;
 height: 155px;
 margin: auto;
}*/

.number{
 position: absolute;
 background-color: #5e42b0;
 width: 168px;
 height: 155px;
 left: calc(50% - 155px/2);
 top: calc(50% - 168px/2);
 display: flex;
}

.num{
 margin: auto;
}

.center-down-001{
 background: url("img/be-active_960.jpg");
 background-repeat: no-repeat;
 background-size: cover; 
 height: 100vh;
}

.center-down h2{
 font-family: Open Sans;
 color: #c1c1c1;
 font-size: 80px; 
 font-weight: 700;
}

.center-down p{
 font-family: Open Sans;
 font-size: 20px; 
 font-weight: 400; 
}

.center-down-01 h2, .center-down-01 p{
 padding-left: 120px; 
}

.center-down-002, .center-down-0002, .center-down-00002{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

/* блок center-down-01*/

.center-down-02{
 display: flex;
 position: relative;
}

.center-down-0001, .center-down-0002{
 width: 50%;
}

.center-down-0001{
 background: url("img/find-contact_960.jpg");
 background-repeat: no-repeat;
 background-size: cover; 
 height: 100vh;
}

.center-down-02 h2, .center-down-02 p{
 padding-right: 120px; 
 padding-left: 60px;
}

/* блок center-down-01*/

.center-down-03{
 display: flex;
 position: relative;
}

.center-down-00001, .center-down-00002{
 width: 50%;
}

.center-down-00001{
 background: url("img/work-it_960.jpg");
 background-repeat: no-repeat;
 background-size: cover; 
 height: 100vh;
}

.center-down-03 h2, .center-down-03 p{
 padding-left: 120px; 
}

/* подвал*/

.footer {
  background-image: url("img/footer-backgr.jpg");
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-logo{
 background: #5e42b0;
 width: 130px;
 height: 137px;
 border-radius: 20px;
 display: flex;
 /*padding: 10px 30px;*/
}

.foot-up{
 display: flex;
 padding-top: 100px;
}

.foot-logo{
 display: flex;
}

.foot-logo1{
 width: 105px;
 height: 90px;
 margin: auto;
}

/*.foot-app{
 display: flex;
 flex-direction: column;
}*/

.foot-app h1{
 font-family: Open Sans;
 color: #ffffff;
 font-size: 80px;
 font-weight: 700;
 margin: 0 20px;
}

.foot-app p{
 font-family: Open Sans;
 color: #a496cb;
 font-size: 30px;
 font-weight: 400;
 margin: 0 20px;
}

footer .logo{
 width: 190px;
 height: 55px;
 padding-bottom: 50px;
}